//96d4c94adb2151f74c73f6e34af3db1fe3fd6e16
.card {
  
  //Functionality
  perspective: 1500px;
  -moz-perspective: 1500px;
  position: relative;
  height: 50rem;


  &__side {
    height: 50rem;
    background-color: orangered;
    transition: all 3s ease;
    color: #fff;
    font-size: 32px;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    backface-visibility: hidden; 
    @include box-shadow(5rem);

    &--front {
      background-color: #fff;
    }

    &--back-1 {
      transform: rotateY(180deg);
      background-image: linear-gradient(to bottom, $color-secondary-light, $color-secondary-dark);
    }
  }
  
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back-1 {
    transform: rotateY(0);
  }
  
  /*FRONT SIDE STYLING*/
  &__picture {
    
    &--1 {
      background-image: url(../../img/nat-5.jpg);
    }
    
  }
  
}
